/* Section.module.css */
section {
    height: 100vh; /* 뷰포트의 전체 높이 */
    width: 100%; /* 전체 너비 */
    display: flex;
    justify-content: center;
    align-items: center; /* 내용을 섹션 중앙에 배치 */
    position: relative;
    /* 필요에 따라 추가 스타일링 */
  }
